@import url("photographer.css");

* {
  box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
    max-width: 1440px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin: 0 100px 0 100px;
}

h1 {
    color: #901C1C;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.avatar {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 15px 0 5px;
}

.photographer-address {
  color: #901C1C;
  font-size: 13px;
  margin: 0;
}

.photographer-tagline {
  font-size: 10px;
  margin: 5px 0;
}

.photographer-price {
  color: #757575;
  font-size: 9px;
  margin: 0;
}

.no-data {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

button {
  background-color: transparent;
  border: none;
}

@media (max-width: 1024px) {
  .photographer_section {
      grid-template-columns: 1fr 1fr;
      gap: 50px;
  }
}

@media (max-width: 768px) {
  .photographer_section {
      grid-template-columns: 1fr;
      gap: 30px;
  }

  header {
    justify-content: center;
    margin: 20px;
    text-align: center;
}
}
